<header>
    <div class="header-section">
        <div class="header-headline mb-4">
            <h1 class="mb-1">Esteban Lombardo</h1>
            <h2 class="mb-2">Full-stack .Net Developer</h2>
            <p>I have 4 years of experience working with technologies like .Net, Angular, SQL Server and Azure.</p>
        </div>
        <div class="header-buttons d-flex flex-column flex-md-row align-items-md-stretch justify-content-md-center gap-3 mb-4">
            <a mat-flat-button color="warn" href="https://www.linkedin.com/in/e-lombardo/" target="_blank">Linkedin</a>
            <a mat-flat-button color="warn" href="https://github.com/steve-esteban" target="_blank">Github</a>
        </div>
    </div>
</header>
